<% if @current_user %>
    <h5>
        <%= link_to root_path do %>
            TOP
        <% end %>
    </h5>
<% else %>
    <h5>
        <%= link_to root_path do %>
            top
        <% end %>
    </h5>
<% end %>