<% if @current_user %>
    <div class="content wrapper">
        <h1 class="title">Where do you want to go?</h1>
    </div>
    
<% else %>
    <div class="content wrapper">
        <h1 class="title">Where do you want to go?</h1>
    </div>

    <h5>
        <%= link_to login_path do %>
            login
        <% end %>
    </h5>
    <h5>
        <%= link_to sign_in_path do %>
            signin
        <% end %>
    </h5>
<% end %>