<% if current_user %>
    <h1>TOP</h1>
<% else %>
    <h1>TOP</h1>

    <h5>
        <%= link_to login_path do %>
            login
        <% end %>
        <%= link_to list_index_path do %>
            list
        <% end %>
    </h5>
<% end %>